h1{
    font-size: 36px;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
top{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}
.image{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.image-movie{
    border: 5px solid #555555;
    border-radius: 10px;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.movie-nav {
    background-color: #111;
    padding: 10px 0;
}

.movie-nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;      /* moves to next line if screen is small */
    justify-content: center;
    padding: 0;
    margin: 0;
}

.movie-nav ul li {
    margin: 5px 10px;
}

.movie-nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    transition: 0.3s;
}

.movie-nav ul li a:hover {
    background-color: #ff9800;
    color: black;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;   /* space between image and text */
    max-width: 800px;
    margin: 50px auto;
}

.container img {
    width: 250px;
    border-radius: 10px;
}

.text {
    font-size: 18px;
}
